$text-color: rgb( 240, 230, 140 ) ;
$marginH: 100px;
body {
		background-image: url("../images/bg2.jpg");
		border: 5px solid #fca103;
  	color: $text-color;
  	text-align: left;
  	font-family: 'Playfair Display', serif;
  	padding-top: 30px;
  	padding-right: 20px;
  	padding-bottom: 0;
  	padding-left: 1%;
	header {
		text-align: center;
	}
	iframe {
		display: block;
		margin-top: $marginH;
		margin-bottom: $marginH;
		margin-left: auto;
		margin-right: auto;
		overflow: auto;
		border: 0px;
	}
	div {
  	display: flex;
  	justify-content: space-between;
	}
	h2 {
    color: rgb( 240, 230, 140 );
		font-family: 'Playfair Display', serif;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 50px;
		margin-left: 5%;
		margin-right: 5%;
		font-size: 60px;
  }
	h3 {
    color: rgb( 240, 230, 140 );
		font-family: 'Playfair Display', serif;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 50px;
		margin-left: 5%;
		margin-right: 5%;
		font-size: 40px;
  }
  p {
		background-color: rgb( 143, 139 , 139 );
		color: rgb( 255, 250, 205 );
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 11%;
		margin-right: 15%;
		font-size: 35px;
  }
  ul {
      list-style-type: disc;
			width: 20%;
    	margin: auto;
			font-size: 30px
  }
	a:link {
	  color: white;
	}
	a:hover {
  color: rgb( 240, 230, 140 );
	}
	a:visited {
  color: rgb( 175, 238, 238 );
	}
	img {
		width: 30%; border-radius: 10%;
	}
}
